<html>
  <center>
    <h1>Hit, with hate...</h1>
    
    <table>
      <% GAME.player2.board.grid.keys.each_slice(10) do |slice| %>
        <tr><% slice.each do |key|%><td>
          <% if GAME.player2.board.is_ship?(key.to_sym) %>
            <img src='/images/ship.jpg'>
          <% else %>
            <img src='/images/water.jpg'>
          <%end%>
          </form>
        </td>
        <%end%>
        </tr>
      <%end%>
    </table>
    <p><a href="/game_over">Quit Game</a></p>
  </center>
</html>