<html>
  <center>
    <h1>Set Your Fleet</h1>
    <% if !GAME.player1.board.floating_ships? %>
      <p>Let's place your fleet, <%= GAME.player1.name %>!</p>
    <% else %>
      <p>Another one please, <%= GAME.player1.name %>!</p>
    <% end %>

    <font size="2" color="grey"> A1 &#183 A2 &#183 A3 &#183 A4 &#183 A5 &#183 A6 &#183 A7 &#183 A8 &#183 A9 &#183 A10 </font>
    
    <table>
      <% GAME.player1.board.grid.keys.each_slice(10) do |slice| %>
        <tr><% slice.each do |key|%><td>
          <% if GAME.player1.board.is_ship?(key.to_sym) %>
            <img src='/images/ship.jpg'>
          <% else %>
            <img src='/images/water.jpg'>
          <%end%>
          </form>
        </td>
        <%end%>
        </tr>
      <%end%>
    </table>

    <p><form action="/set_fleet" method="post" id="select_ship">
      <p>Please complete the following:</p>
      <select name='ship' form="select_ship">
        <option value="A">Aircraft Carrier</option>
        <option value="B">Battleship</option>
        <option value="D">Destroyer</option>
        <option value="S">Submarine</option>
        <option value="P">Patrol Boat</option>
      </select><br>
      <input type="text" name="coord" placeholder="Coordinates (e.g. A3)"><br>
      <input type="radio" name="orientation" value="h" checked>Horizontally
      <input type="radio" name="orientation" value="v">Vertically<br>
      <input type="submit" value="Set!">
    </form>
    <% if @error_incomplete %>
      <i><%= @error_incomplete %></i>
    <%end%>
    </p>
    <a href="/board_two">View computer's board</a>
    <i>     &#183     </i>
    <a href="/fight">Done setting - let's fight!</a>
  </center>
</html>